<table class="profile" summary="Profile information">
  <tr>
	<td class="main">
	  <h1><%= @user.name %></h1>
	  <%= render 'follow_form' if signed_in? %>
	  <% unless @user.books.empty? %>
	  	<table class="books" summary="User books">
		  <%= render @books %>
	  	</table>
	    <%= will_paginate @books %>
	  <% end %>
	</td>
	<td class="sidebar round">
		<strong>Name</strong> <%= @user.name %><br />
		<strong>URL</strong> <%= link_to "My Profile Link", @user %><br />
		<strong>Books</strong> <%= @user.books.count %><br />
		<strong>Notes</strong> <%= "Need to Code" %>
		<%= render 'shared/stats'%>
	</td>
  </tr>
</table>
			