<tr>
  <td class="book">
	<span class="user">
	  <%= link_to feed_item.user.name, feed_item.user %>
	</span><br />
	<span class="title"><%= feed_item.title %></span><br />
	<span class="author"><%= feed_item.author %></span><br />
	<span class="timestamp">
		Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
	</span>
  </td>
  <% if current_user?(feed_item.user) %>
  <td>
    <%= link_to "delete", feed_item, :method => :delete,
									 :confirm => "You sure?",
									 :title => ("feed_item.title" + " " + "feed_item.author") %>
  </td>
  <% end %>
</tr>